.main{
    background-color: rgb(43, 226, 217);
    margin-top: 1px;
    text-align: center;
    
}

h1{
    color: azure;
    margin-top: 80px;
    background-color: blueviolet;
    width: 25%;
    height: 40px;
    margin-left: 37%;
    align-items: center;
    border-radius: 10px;
    
}

h2{
    color: rgb(20, 122, 255);
}

h2:hover{
    color: brown;
    width: 90%;
    margin-left: 10%;
}


#pname,#age,#psprt,#year,#month,#fees{
border-radius: 40px;
border: none;
width: 15%;
height: 30px;
margin-left: 20px;
background-color: cadetblue;
color: azure;
font-size: 30px;
text-align: center;
border: 2px solid white;
}

#btnsave{
    background-color: blue;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    color: beige;
    border: none;
    font-size: large;
}